.registerPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
}


.register-heading{
    font-size: 30px;
}

 .already a{
  color: #3BB77E;
}