.log-in-container{
    display: flex;
    justify-content: center;
    border: 5px solid whitesmoke;
    padding: 30px;
    border-radius: 10px;
    /* align-items: center; */
}
.log-in-input-section{
    margin-top: 70px;
}
.log-in-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.input-field{
    margin-top: 30px;
}

.log-in-input-section h2{
    font-size: 40px;
}
.log-in-button{
    margin-top: 30px;
}
.log-in-input-section p a{
   color: #3BB77E;
}
.log-in-input-section p{
    font-size: 17px;
}

.another-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.github-log-in-button{
    border: 5px solid whitesmoke;
    border-radius: 50%;
}
.google-log-in-button{
    border: 5px solid whitesmoke;
    border-radius: 50%;
}

.log-in-box{
    margin-bottom: 130px;
}